@mixin center{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.mobile-menu{
  background-color: $primary-color;

  ul{
    color:white;
    text-transform: uppercase;
    list-style: none;
    text-align:left;
  }

}



      

  .top{
    @include flex();
    @include flex-align(center);
     height:rem-calc(30);
     height:rem-calc(30);
     background-color:#e6e6e6;
      li{ 
        display: inline;
        padding-right: rem-calc(15);
        text-transform: uppercase;
        font-weight:bold;
        color:$secondary-color;
        font-size: rem-calc(12);	
        letter-spacing: em-calc(0.5);
        line-height: rem-calc(15)
      }
      .right{
        @include flex-align(right,middle);
        @include flex();
        
      }

      .left{
        @include flex-align(center,middle);
        @include flex();

      }

     
  
 
    }

    


 .mid{
  @include xy-grid-container();
  
    
   .container{
     padding-top:rem-calc(10);
     padding-bottom:rem-calc(10);
     @include flex();
     @include flex-align(center,bottom);
     @include xy-grid();
     list-style: none;
     @include breakpoint(medium){
      padding-left:rem-calc(50);
     }
    
      .mid-item{
        @include xy-cell(12);
        
        @include breakpoint(medium){
          @include xy-cell(2.2);
        }
     
        h4{
          color: #505050;	
          font-family: Montserrat;	
          font-size: rem-calc(16);	
          font-weight: 600;	
          letter-spacing: rem-calc(0.44);	
          line-height: rem-calc(1);
        }
        p{
            font-size: rem-calc(12);	
            letter-spacing: rem-calc(0.33);
            
        }
       

  }//mid-item
   

  .logo{
   
    @include breakpoint(medium down){
      text-align:center;
      padding-bottom: rem-calc(10);
   }
  }

  
  .ocontainer{
    @include flex();
    @include flex-align(center,bottom);
     @include xy-grid();
     padding-left:rem-calc(30);
    
     
     .desc{
      display: inline-block;
    }

    .phone{
      
      @include xy-cell(12);
      img{
        margin-bottom:rem-calc(20);
      }

      @include breakpoint(medium){
        @include xy-cell(6);

      }
     }


    .order{
      position: relative;
      @include xy-cell(12);
      margin-bottom:-rem-calc(-10);
      .desc{
         padding-left:rem-calc(50);
         @include breakpoint(small only){
              h4{
                line-height: em-calc(15);	
              }

        }
      }
      img{
        position: absolute;
      }
      @include breakpoint(medium){
        @include xy-cell(6);

      }
      
  }
} 


  .search{ 
    width:rem-calc(340);
    position: relative;
  
    .prod-s{
      border-radius: rem-calc(50);
      font-size:rem-calc(13);
      font-family: Montserrat;
      color:#ABABAB;
      padding-top:rem-calc(22);
      padding-bottom:rem-calc(22);
      padding-left:rem-calc(15);
    }
    i{
      position: absolute;
      right:5%;
      top:20%;
      font-size:rem-calc(23);
      color:#ABABAB;
      -webkit-text-stroke: 1px white;
    }
  }//search-bar



 }//container
}//mid




.bottom-nav{
  background-color: #003578;
  .container{
      @include xy-grid-container();
      padding: rem-calc(2);

      ul{
        @include flex();
        @include flex-align(center,bottom);
        @include xy-cell(12);
        @include xy-grid();
        margin-top: rem-calc(15);
        list-style: none;
        text-transform: uppercase;
        color: #FFFFFF;
        font-family: Montserrat;
        font-size: rem-calc(14);
        font-weight: 600;
        letter-spacing: rem-calc(1);
        line-height: rem-calc(18);
       
          li{
            padding-right:rem-calc(5);
            @include xy-cell(11%);
            @include breakpoint(small only){
              border-right:none;
              @include xy-cell(12);
              
            }
          
            border-right: 1px solid #ABABAB;
            @include flex();
            @include flex-align(spaced);
            
            
          }
          .stories{
            border-right:none;
          }
        }
      }
    }



  .header-image{ 
    position: relative;
    img{
      @include breakpoint(medium){
        	height: rem-calc(600);	width: 100%;
      }
    
    }
    .advert{
      padding-top: rem-calc(20);
      padding-bottom: rem-calc(22);
      text-align:center;
      background-color:rgba(255,255,255,0.9);
      @include center();
      @include breakpoint(small only){
      width: rem-calc(200);
      height:rem-calc(80);
      line-height: em-calc(5);
   
      }

      @include breakpoint(medium){
        padding-left:rem-calc(40);
        padding-right:rem-calc(40);
      }
      
      p{
        font-family: Montserrat;
        color: $secondary-color;
        font-size: rem-calc(14);
        @include breakpoint(small only){
          font-size: rem-calc(6);
          line-height: rem-calc(1);
        }
      }    
    }
    
    h3{
     
      text-transform: uppercase;
      font-family: Average;
      color:$primary-color;
      font-size: rem-calc(30);
      line-height:rem-calc(30);
      @include breakpoint(small only){
        font-size:rem-calc(12);
        @include center();
      }
    }

    .treat{
      font-family: Montserrat;
      font-weight: bold;
      font-size: rem-calc(14);
      text-transform: uppercase;
      color: #ABABAB;
        @include breakpoint(small only){
          font-size: rem-calc(6);
        }
    }

      h4{
        margin: 0 auto;
        width: rem-calc(180);
        padding:rem-calc(10);
        font-size:rem-calc(15);
        text-transform:uppercase;
        color: white;
        background: $primary-color;
        font-weight: bold;
        border:1px solid $primary-color;
        border-radius:rem-calc(40);
        text-align: center;
        @include breakpoint(small only){
          width: rem-calc(60);
          padding:rem-calc(5);
          font-size:rem-calc(6);
          
        }
      }
    }
  

   


.product-content{
  .heading{
    text-align:center;
    padding-top: rem-calc(10);
    padding-bottom:rem-calc(20);
  }

    span{
          color: #ABABAB;
          font-family:Montserrat;	
          font-size: rem-calc(12);	
          font-weight: 600;	
          letter-spacing: rem-calc(0.5);		
          text-align: center; 
          padding-top:rem-calc(20); 
          padding-bottom:rem-calc(80);
    }
    h3{
      font-family:Average;
      color:$primary-color;
      text-transform: uppercase;
      font-size: rem-calc(40);
    }

    .container{

        @include flex();
        @include flex-align(center);
        @include xy-grid();
        .product-box{
          @include breakpoint(large){
            @include xy-cell(2);
          }
            @include breakpoint(medium only){
            @include xy-cell(4.5);
          }
          @include breakpoint(small only){
            margin-top: rem-calc(20);
            @include xy-cell(7);
          }

          .image-box{
            position: relative;
            img{
              width:100%;
            }
            
            .price{
              width:rem-calc(70);
              position: absolute;
              right:0;
              bottom: rem-calc(-7);
              h5{
              background-color: $primary-color;
              color: #FFFFFF;	font-family: Montserrat;
              font-size: rem-calc(12);
              font-weight: 600;	
              letter-spacing:rem-calc(0.5);	
              line-height: rem-calc(22);	
              text-align: center;
              padding:rem-calc(2);             }
            }
          }

          .product-description{
            
            p{
              height:rem-calc(50);
              padding-top:rem-calc(5);
              text-transform: uppercase;
              font-size: rem-calc(11.5);
              color:#ABABAB;
              font-weight: bold;
            }
            span{
              text-transform: none;
              font-weight: bold;
              color:black;
              font-weight:bold;
            }
          }

          .product-button{
            padding-top:rem-calc(20);
            width:rem-calc(170);
            h2{
              padding:rem-calc(5);
              font-size:rem-calc(15);
              text-transform:uppercase;
              color: $primary-color;
              font-weight: bold;
              border:1px solid $primary-color;
              border-radius:rem-calc(40);
              text-align: center;
                &:hover {
                  color: white;
                  background: $primary-color;
                  transition: all 0.3s ease;
                  cursor: pointer;
              }
            }
           
          }//product-button
        }//product-box
  }//container
}//product-content





.gallery{
  margin-top: rem-calc(50);
  .container{
    @include xy-grid();

    .gallery-box{
      position: relative;
      background-repeat: no-repeat;
      background-size:cover;
    }
    .description{
      position: absolute;
      padding-left:rem-calc(20);
      padding-bottom: rem-calc(8);
     
      h2{
        color:white;
        text-transform: uppercase;
        font-family: Average;
        font-size:rem-calc(33); line-height: 1.2;
      }
      span{
        font-family: Montserrat;
        font-weight: bold;
        font-size: rem-calc(20);

      }
      
    }//global description


  .left-section{
    @include xy-cell(6);
    @include breakpoint(small only){
      @include xy-cell(12);
    }
    .t{               
      width:100%;             
      height: rem-calc(454);
      margin-bottom: rem-calc(20);
    }
    .b{
      width:100%;
      height: rem-calc(668);

    }
    
    .top-left-desc{
      bottom:0;
      right:0;
      text-align:center;
      padding-right:rem-calc(20);
    }

        
    .bottom-left-desc{
        text-align:center;
        @include breakpoint(small only){
          @include center();

        }
        

        @include breakpoint(medium){
              width: 32%;
              top: 30%;
              right: 7%;
        }
        
        

        h2{
          color:$primary-color;
          }
        p{
          font-family: Montserrat;
          font-size: rem-calc(14);
          color:$secondary-color;
          font-weight:bold;
          color:#505050;
          }
        

        .hampers{
          margin: 0 auto;
          background-color:$primary-color;
          border-radius: rem-calc(50); padding:rem-calc(10);
          width:rem-calc(140);
          
          span{
            color:white;
            font-size:rem-calc(14);
            text-transform: uppercase;
          }

          
        }//hampers-button
        .gift{
          padding-top:rem-calc(10);
          text-align:center;
          padding-right:rem-calc(10);
          
          span{
          text-decoration: underline;
          font-family: Montserrat;
          font-size: rem-calc(14);
          color: $secondary-color;
          padding-left: rem-calc(10);
          }
        }

     }//bottom-left-description
   
    
    }//left section


  
    .right-section{
      @include xy-cell(6);
      @include breakpoint(small only){
        @include xy-cell(12);
      }
        .top-desc{
          top:0;
          left:0;
        }

        .bottom-desc{
        bottom:0;
        left:0;
      }

  
      .t{               
        width:100%;             
        height: rem-calc(668);
        margin-bottom: rem-calc(20);
      }

      .b{
        width:100%;
        height: rem-calc(454);
      }
    }//right section

  }//container
}//gallery





footer{
    @include xy-grid-container();
  
    .container{
   
      @include flex();
      @include flex-align(center);
      margin-top:rem-calc(30);
      @include xy-grid();
  
      .nav-list{
            
            @include xy-cell(2);
          	@include breakpoint(small only) {
              @include xy-cell(12);
        		    padding-bottom:rem-calc(20);
            
          	}
          
        
            h3{
              text-align: left;
              padding-bottom: rem-calc(5);
              text-transform: uppercase;
              color: #262626;	
              font-family: Average;	
              font-size: rem-calc(16);
              letter-spacing: em-calc(1.14);
              line-height: rem-calc(19);
            }
            ul{
            font-family: Montserrat;
            font-size:rem-calc(12);	
            letter-spacing: em-calc(0.5);	
            line-height: rem-calc(30); 
            text-align: left;
            list-style: none; 
            padding-left:rem-calc(10); 
            border-left: rem-calc(1) solid #e6e6e6; 
              li{
                color: #505050;
              }
            }

            .icon{
              height: rem-calc(11.89);	
              width: rem-calc(11.89);	
              border: rem-calc(0.52) solid #003578;
            }
         }//nav-list
        .social-list{
          padding-top: rem-cal(20);
          @include breakpoint(small only){
            padding-bottom:rem-cal(20);
          }
        
          img{
            padding-right:rem-cal(8);
          }

        }//social-list
         
       


     }//container
     .bottom-menu{
      padding-top:rem-cal(12);
      padding-bottom:rem-cal(12);
      @include flex();
      @include flex-align(justify);
      border-top: 1px solid #e6e6e6;
      
      .left{
        @include menu-base();
        li{
          color:#ABABAB;
          font-size:  rem-calc(14);
          font-family: Montserrat;
        }
      }

      .right{
        padding-top:rem-calc(8);
        img{
          padding-right:rem-calc(5);
        }
         text-align:right;
      }

    
    }
  }//footer


